@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;500;600&family=Montserrat:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,300;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Anuphan', ' Montserrat';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
}

.container {
  display: flex;
  background-color: #333;
}

.key {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2),
              0 2px 0 0 rgba(255,255,255,0.7) inset,
              0 -1px 0 0 rgba(0,0,0,0.2) inset;
  background: #f7f7f7;
  color: #333;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: center;
  margin: 1rem;
  padding: 1rem 0.5rem;
  position: relative;
  text-align: center;
  transition: all 0.1s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px;
  text-transform: uppercase;
  color: #333;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  color: #f7f7f7;
  text-align: center;
}
