@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;500;600&family=Montserrat:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,300;1,400;1,500&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Anuphan', ' Montserrat';
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: linear-gradient(to right, #f9baff, #ffeab2);
  height: auto;
}

.cards {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  flex-wrap: wrap;
  align-items: space-between;
}

.card {
  margin: 10px 7px 0 7px;
  background-color: rgb(224, 250, 215);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  position: relative;
  width: 120px;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.card p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card h4 {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 50px;
  border-radius: 10px;
}

.card h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 5px;
  z-index: -1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
